
		<div class="main-header">

			<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark2">
				
			     <a href="/Dashboard/AdminData" class="logo">
					<div class="avatar avatar-lg">
						<img src="/static/assets/img/digital-shiksha_blue_logo.png" alt="admin img" class="avatar-img">
					</div>
					<span class='fw-bold text-white mt-3 mx-2'>DSHIKSHA</span>
					{% comment %} <img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand"> {% endcomment %}
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle mt-3">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">
				
				{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						<div class="input-group">
							<h1 class="input-group-prepend text-white">
								{{request.user.username}}
							</h1>
						</div>
				</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						
						
						
						<li class="nav-item hidden-caret">
							<a class="profile-pic"  href="#" aria-expanded="false">
								
								<div class="avatar-sm">
									<span class="avatar-title rounded-circle text-white fw-bold" style="background-color:#39caf9; font-size:1.3rem">{{ request.user.username.0 | capfirst }}</span>
								</div>
							</a>							
						</li>

						<li class="nav-item hidden-caret mx-2" data-toggle="tooltip" data-placement="bottom" title="logout">
							<a href="/accounts/logout">
								<h2>
									<i class="icon-logout fw-bold text-white"></i>
									<span class="link-collapse "></span>
								</h2>
							</a>
						</li>
					</ul>
				</div>

				{% comment %} {% endif %} {% endcomment %}

			</nav>
			<!-- End Navbar -->
        </div>
        