{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Update Staff | {{ staff_data.StaffName }}
{% endblock title %}

{% block stylesheets %}
<style>
    #id_SchoolCode,#id_SchoolUsername,#id_Email{
        background-color:green;
        pointer-events:none;
    }
</style>
{% endblock stylesheets %}

{% block body %}

<div class="content">
    <div class="page-inner">
        {% if messages %}
            <div>
                {% for message in messages %} 
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Error!</strong> {{ message.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Staff Info-{{staff_data.StaffName}}</div>
                    </div>
                    <div class="card-body">

                        <form action="/Update/UpdateStaffInfo/{{ staff_data.StaffID }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label"> StaffName</label>
                                {{ staff_form.StaffName | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Date of Birth</label>
                                {% render_field staff_form.DOB type="date" class="form-control" %}                    
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Gender</label>
                                <select name="Gender" id="id_Gender" class="form-control">
                                    <option value=""> ---------- </option>
                                    {% for g in gender_list %}
                                        <option value="{{ g.GenderID }}"> {{ g.GenderName }}</option>
                                    {% endfor %}
                                </select>  
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> BloodGroup</label>
                                <select name="BloodGroup" id="id_BloodGroup" class="form-control">
                                    <option value=""> ---------- </option>
                                    {% for b in bloodgroup_list %}
                                        <option value="{{ b.BloodGroupID }}"> {{ b.BloodGroupName }}</option>
                                    {% endfor %}
                                </select>  
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="" class="form-label"> MotherTongue</label>
                                    <select name="MotherTongue" id="id_MotherTongue" class="form-control">
                                        <option value=""> ---------- </option>
                                        {% for m in mothertongue_list %}
                                            <option value="{{ m.MotherTongueID }}"> {{ m.MotherTongueName }}</option>
                                        {% endfor %}
                                    </select>  
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="" class="form-label"> Caste</label>
                                    <select name="Caste" id="id_Caste" class="form-control">
                                        <option value=""> ---------- </option>
                                        {% for c in caste_list %}
                                            <option value="{{ c.CasteID }}"> {{ c.CasteName }}-{{c.CasteCategory.CasteCategoryName}}-{{ c.Religion.ReligionName }}</option>
                                        {% endfor %}
                                    </select>  
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="" class="form-label"> MaritalStatus</label>
                                    <select name="MaritalStatus" id="id_MaritalStatus" class="form-control">
                                        <option value=""> ---------- </option>
                                        {% for m in maritalstatus_list %}
                                            <option value="{{ m.MaritalStatusID }}"> {{ m.MaritalStatus }} </option>
                                        {% endfor %}
                                    </select>  
                                </div>
                            </div>
                            <div  class="mb-3">
                                <label for="" class="form-label"> StaffPhoto</label>
                                {% if staff_photo %}
                                <div class="avatar avatar-xxl"><img src="{{staff_photo.url}}" class="avatar-img" alt="staff img"></div>
                                {% endif %}
                                <input type="file" name="staff_img" class="form-control"> 
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> StaffMobile</label>
                                {{ staff_form.StaffMobile | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> StaffWhatsAppNo</label>
                                {{ staff_form.StaffWhatsAppNo | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> StaffEmailID</label>
                                {{ staff_form.StaffEmailID | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> AddressLine1</label>
                                {{ staff_form.AddressLine1 | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> AddressLine2</label>
                                {{ staff_form.AddressLine2 | attr:"class=form-control"}}
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Village</label>
                                <select name="Village" id="id_Village" class="form-control">
                                    {% for village in village_list %}
                                        <option value="{{ village.VillageID }}"> {{ village.VillageName }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Pincode</label>
                                <select name="Pincode" id="id_Pincode" class="form-control">
                                    {% for p in postoffice_list %}
                                        <option value="{{ p.PostOfficeID }}"> {{ p.Pincode }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            
                            <div class="mb-3">
                                <label for="" class="form-label"> Designation</label>
                                <select name="Designation" id="id_Designation" class="form-control">
                                    {% for d in designation_list %}
                                        <option value="{{ d.DesignationID }}"> {{ d.DesignationName }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> StaffQualification</label>
                                <select name="StaffQualification" id="id_StaffQualification" class="form-control">
                                    {% for s in staffqualification_list %}
                                        <option value="{{ s.StaffQualificationID }}"> {{ s.StaffQualificationName }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Subject1</label>
                                <select name="Subject1" id="id_Subject1" class="form-control">
                                    <option value=""> ---------- </option>
                                    {% for s in staffsubject_list %}
                                        <option value="{{ s.StaffSubjectID }}"> {{ s.StaffSubjectName }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Subject2</label>
                                <select name="Subject2" id="id_Subject2" class="form-control">
                                    <option value=""> ---------- </option>
                                    {% for s in staffsubject_list %}
                                        <option value="{{ s.StaffSubjectID }}"> {{ s.StaffSubjectName }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> AcademicYear</label>
                                <select name="AcademicYear" id="id_AcademicYear" class="form-control">
                                    <option value=""> ---------- </option>
                                    {% for a in currentacademicYear_list %}
                                        <option value="{{ a.AcademicYearID }}"> {{ a.AcademicYear }}</option>
                                    {% endfor %}
                                </select>                            
                            </div>
                            
                            
                            <div class="mb-3">
                                <label for="" class="form-label"> DateOfAppointment</label>
                                {% render_field staff_form.DateOfAppointment type="date" class="form-control" %}                    
                                
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> DateOfRetirement</label>
                                {% render_field staff_form.DateOfRetirement type="date" class="form-control" %}                    
                            </div>
                            

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"> Update </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
