{% extends 'school/base.html' %}
{% load static %} 
{% load widget_tweaks %} 
{% block title %} Assign Class | {{ school_name }} {% endblock title %}

{% block body %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Assign Class</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/School/AssignClass" class="text-white fw-bold">Assign Class</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    


    <div class="page-inner mt--5">

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form action="/School/AssignClass" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="card-title">Class</h4>
                                        {% for cl in class_list %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" name="Class" class="form-check-input" value="{{ cl.ClassID }}">
                                                
                                                <span class="form-check-sign">{{ cl.ClassList.ClassName }}</span>

                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>                                                                       
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="card-title">Section</h4>
                                        {% for sec in section_list %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input name="Section" class="form-check-input text-white" type="checkbox" value={{ sec.SectionID }}>
                                                <span class="form-check-sign">{{sec.SectionName}}</span>
                                                
                                            </label>
                                        </div>
                                        {% endfor %}

                                    </div>                                                                       
                                </div>

                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                
                        </form>
                        
                    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    Assigned Class - {{ ac_year.AcademicYear }}
                                </div>
    
                            </div>
                            <div class="card-body"> 
                                <div class="table-responsive  mt-1">
                                    <table class="table" id="AssignClassData">
                                        <thead>
                                            <tr>
                                                <th width="10%">Sr.No.</th>
                                                <th>Class-Section</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ac in ac_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <div>
                                                        {{ ac.Class.ClassList.ClassName }} - {{ ac.Section.SectionName }}
                                                    </div>
                                                </td>
                                            </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                    
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>

{% endblock body %}

{% block javascripts %}
<script>

    $(document).ready(function() {
        $('#AssignClassData').DataTable({
        });
    });

</script>
{% endblock javascripts %}