{% extends 'school/base.html' %}
{% load static %} 
{% load widget_tweaks %} 
{% block title %} Assign Class | {{ school_name }} {% endblock title %}

{% block body %}

<div class="content">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form action="/School/AssignClass" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="card-title">Class</h4>
                                        {% for cl in class_list %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" name="Class" class="form-check-input" value="{{ cl.ClassID }}">
                                                
                                                <span class="form-check-sign">{{ cl.ClassList.ClassName }}</span>

                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>                                                                       
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <h4 class="card-title">Section</h4>
                                        {% for sec in section_list %}
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input name="Section" class="form-check-input text-white" type="checkbox" value={{ sec.SectionID }}>
                                                <span class="form-check-sign">{{sec.SectionName}}</span>
                                                
                                            </label>
                                        </div>
                                        {% endfor %}

                                    </div>                                                                       
                                </div>

                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                
                        </form>
                        
                    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                        <h4 class="card-title card-title-dash">Assigned Class - {{ ac_year.AcademicYear }}</h4>
                                    </div>
                                </div>
                                <div class="table-responsive  mt-1">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="10%">Sr.No.</th>
                                                <th>Class-Section</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ac in ac_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <div>
                                                        {{ ac.Class.ClassList.ClassName }} - {{ ac.Section.SectionName }}
                                                    </div>
                                                </td>
                                            </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                    
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>

{% endblock body %}