{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} School Info | {{ school_name }} {% endblock title %}

{% block body %}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">School Information</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/School/SchoolInfo" class="text-white fw-bold">School Info</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    


    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">{{school_data.SchoolName}} Information</div>
                    </div>
                    <div class="card-body">

                    {% if request.session.schoolimg_check %}
					<div class="avatar avatar-xxl">
						<img src="{{request.session.school_logo}}" alt="school img" class="avatar-img rounded">			
					</div>
                    {% endif %}
                        <div class="row">
                            <div class="col-sm">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Insitution ID</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.SchoolCode }}</td>
                                        </tr>
                                        <tr>
                                            <td>Insitution Type</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.SchoolType}}</td>
                                        </tr>
                                        <tr>
                                            <td>School DISE Code</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.SchoolDISECode}}</td>
                                        </tr>
                                        <tr>
                                            <td>Syllabus</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.SyllabusType}}</td>
                                        </tr>
                                        <tr>
                                            <td>Insitution Level</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.InsitutionLevel.InstitutionLevel}}</td>
                                        </tr>
                                        <tr>
                                            <td>Area</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.Area.AreaType}}</td>
                                        </tr>
                                        <tr>
                                            <td>Village</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.Village.VillageName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Taluk</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.Village.Taluk.TalukName}}</td>
                                        </tr>
                                        <tr>
                                            <td>District</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.Village.Taluk.District.DistrictName}}</td>
                                        </tr>
                                        <tr>
                                            <td>State</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.Village.Taluk.District.State.StateName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Pincode</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.Pincode.Pincode}}</td>
                                        </tr>
                                        <tr>
                                            <td>Current Accadamic Year</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.CurrentAcademicYear.AcademicYear}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-hover mt-3">
                                    <thead>
                                        <th class="fw-bold" colspan="3">Head of the Institution Info</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ staffhead_data.Staff.StaffName }}</td>
                                        </tr>
                                        
                                        <tr>
                                            <td>Mobile</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ staffhead_data.Staff.StaffMobile }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ staffhead_data.Staff.StaffEmailID }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="col-sm"> 
                                <!-- Correspondent Info -->
                                <table class="table table-hover">
                                    <thead>
                                        <th class="fw-bold" colspan="3">Correspondent Info</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.CorrespondentName}}</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.CorrespondentMobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>WhatsApp</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.CorrespondentWhatsAppNo}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{school_data.CorrespondentEmail}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <!--Account Info  -->
                                <table class="table table-hover mt-3">
                                    <thead>
                                        <th class="fw-bold" colspan="3">Accountant Info</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Name</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.AccountantName}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Email</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.AccountantEmail}}</td>
                                        </tr>
                                        <tr>
                                            <td>Mobile</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.AccountantMobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>WhatsApp</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.AccountantWhatsAppNo}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <!-- Contact Info -->
                                <table class="table table-hover mt-3">
                                    <thead>
                                        <th class="fw-bold" colspan="3">Contact Info</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Landline</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.Landline}}</td>
                                        </tr>
                                        <tr>
                                            <td scope="row">Mobile</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.Mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.Email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Website</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.Website}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- School History Info -->
                                <table class="table table-hover mt-3">
                                    <thead>
                                        <th class="fw-bold" colspan="3">School Histroy Info</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Est Date</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.EstDate}}</td>
                                        </tr>
                                        <tr>
                                            <td>Years</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_year}} </td> 
                                        </tr>
                                        <tr>
                                            <td>Histroy</td>
                                            <td class="fw-bold">:</td>
                                            <td class="fw-bold">{{ school_data.History}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary m-3" id="edit-school" value="hello"> Edit </button>
            {% comment %} <a name="" id="" class="btn btn-primary m-3" href="/Update/UpdateSchoolInfo/{{ school_data.SchoolID }}" role="button">View</a> {% endcomment %}
        </div>
    </div>
</div>


{% endblock body %}

{% block javascripts %}
<script>
    $("#edit-school").click(function () {
        window.location.href = "/Update/UpdateSchoolInfo/{{ school_id }}";
    })

</script>
{% endblock javascripts %}