{% extends 'dshiksha_erp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Add Nationality 
{% endblock title %}


{% block body %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header  text-white">
                <h4 class="page-title  text-white">Assign Nationality  </h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home  text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow  text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Settings/AddNationality" class="text-white fw-bold">Assign Nationality</a>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
    
    <div class="page-inner mt--5">
        {% if messages %}
        {% for message in messages %} 
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1" id="alert">
            <i class="bi-exclamation-octagon-fill"></i>
            <strong class="mx-2">Error!</strong> {{ message.message }}
        </div>
        {% endif %}
        {% if message.tags == 'info' %}
        <div class=" alert alert-success alert-dismissible d-flex align-items-center fade show my-1" id="alert">
            <i class="bi-exclamation-octagon-fill"></i>
            <strong class="mx-2">Success!</strong> {{ message.message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-rounded">
                    <div class="card-header">
                        <div class="card-title">Add Country </div>
                    </div>
                    <div class="card-body">
                        <form action="/Settings/AddNationality" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class=" form-label"> Country Name</label>
                                        {{ nationality_form.NationalityName | attr:"class=form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="form-label "> Country Code</label>
                                        {{ nationality_form.CountryCode | attr:"class=form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">&nbsp;</label>

                                        <div class="input-group col-xs-12">                                                        
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary "> Create </button>
                                            </span>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex flex-column">
                <div class="row flex-grow">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card card-rounded">
                            <div class="card-header">
                                <div class="card-title">Country List</div>
                            </div>
        
                            <div class="card-body">
                                <div class="table-responsive">
                                    <!-- Table details here -->
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th width="10%">Sr.No.</th>
                                                <th>Country Code   </th>
                                                <th>Country Name </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if nationality_list %}
                                            {% for nat in nationality_list %}
                                            <tr>
                                                <td>  {{ forloop.counter }}  </td>
                                                <td> {{ nat.CountryCode }}  </td>
                                                <td>                                                 
                                                     {{ nat.NationalityName }} - {{ nat.CountryCode }}
                                            </td>                                                       
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock body %}

{% block javascripts %}
    <script>
        
    setTimeout(function () {
        $('#alert').alert('close');
    }, 2500);

    </script>
{% endblock javascripts %}