{% extends 'dshiksha_erp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Add Designation {% endblock title %} 

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="d-sm-flex align-items-center justify-content-between border-bottom mb-4"> </div>
                    <div class="row">
                        {% comment %} <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded bg-dark mt-5 mr-3 ml-3">
                                        <div class="card-body">
                                            <h4 class="card-title text-white">Add Designation </h4>
                                             <!-- form details here -->
                                             <form action="/Settings/AddDesignation" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="form-type" value="designation-form">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="" class="text-white form-label"> Designation </label>
                                                            {{ designation_form.DesignationName | attr:"class=form-control" }}
                                                        </div>
                                                    </div>                                                   
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">&nbsp;</label>
    
                                                            <div class="input-group col-xs-12">                                                        
                                                                <span class="input-group-append">
                                                                    <button type="submit" class="btn btn-primary text-white"> Create </button>
                                                                </span>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded bg-dark mt-5 mr-3 ml-3">
                                        <div class="card-body">
                                            <h4 class="card-title text-white">Add Subject </h4>
                                             <!-- form details here -->
                                             <form action="/Settings/AddSubject" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="form-type" value="staff-subject-form">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="" class="form-label text-white"> Staff Subject </label>
                                                            {{ staff_subject_form.StaffSubjectName | attr:"class=form-control" }}
                                                        </div>
                                                    </div>                                                   
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">&nbsp;</label>
    
                                                            <div class="input-group col-xs-12">                                                        
                                                                <span class="input-group-append">
                                                                    <button type="submit" class="btn btn-primary text-white"> Create </button>
                                                                </span>
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded bg-dark mt-5 mr-3 ml-3">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash text-white">Subject List</h4>
                                                </div>
                                            </div>
                                            <div class="table-responsive  mt-1">
                                                <!-- Table details here -->
                                                <table class="table text-white">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Sr.No.</th>
                                                            <th>Subject  </th>    
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if staff_subject_list %}
                                                        {% for ss in staff_subject_list %}
                                                        <tr>
                                                            <td>  {{ forloop.counter }}  </td>
                                                            <td> 
                                                               
                                                               <a href="/Settings/UpdateStaffSubject/{{ ss.StaffSubjectID }}">{{ ss.StaffSubjectName }}</a> 
                                                            
                                                            </td>                                                       
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}