
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="/Dashboard/AdminData">
									Digital shiksha Project
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="/Dashboard/AdminData">Dshiksha</a> 
                        - coded by Rahul and Charith
					</div>				
				</div>
            </footer>
            