		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% comment %} {% if request.user.is_authenticated %}	 {% endcomment %}
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							
							<span class="avatar-title rounded-circle text-warning fw-bold">RC</span>
									
						</div>
						
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.Email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/accounts/logout">
											<span class="link-collapse">logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="/Dashboard/AdminData">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-layer-group"></i>
								<p>School</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="/School/SchoolInfo">
											<span class="sub-item">School Info</span>
										</a>
									</li>
									<li>
										<a href="/School/AssignClass">
											<span class="sub-item">Assign Class</span>
										</a>
									</li>
									<li>
										<a href="/School/AssignApplicationFees">
											<span class="sub-item">Assign Application Fees</span>
										</a>
									</li>
									<li>
										<a href="/School/NewApplication">
											<span class="sub-item">New Application</span>
										</a>
									</li>
									
								</ul>
							</div>
						</li>
						</li>

						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li>						
					</ul>
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        