{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Show Fee Resipt 
{% endblock title %}

{% block stylesheets %}
<style>

</style>
{% endblock stylesheets %}

{% block body %}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Show Collect Fees</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Fees/CollectFee" class="text-white fw-bold">Collect Fees</a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Fees/ShowCollectFee/{{student_id_data.Admission.AdmissionID}}" class="text-white fw-bold">Fees Details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Show Collect Fees</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 d-flex flex-column">
                                <div class="row flex-grow">
                                    <div class="col grid-margin stretch-card">
                                        <div class="card card-rounded mr-3 ml-3">
                                            <div class="card-body">

                                                <div class=" row text-center">
                                                    <div class="col h2">
                                                        {% if school_logo %}
                                                            <div class="avatar avatar-xl"><img src="{{school_logo.url}}"   class="avatar-img" alt="school logo"></div>
                                                        {% endif %}
                                                        <br>{{student_id_data.School.SchoolName}}
                                                        <br>{{student_id_data.School.Village.Taluk.TalukName}} {{student_id_data.School.Village.Taluk.District.DistrictName}} - {{student_id_data.School.Pincode.Pincode}}
                                                    </div>
                                                </div>
                                                <hr>
                                                
                                                <h3 class="fw-bold text-center fa-solid h2" style="text-decoration: underline"> Fees Receipt </h3>

                                                <div class="row ml-2">
                                                    <div class="col-sm-lg-xs-4 col-md-xl-4 h5">
                                                    Trans Number 
                                                    <span class="ml-5 pl-4"> : </span>  
                                                    <span class="ml-2 pl-5">{{student_id_data.CollectFeeNo}} </span> 
                                                    </div>
                                                    <div class="col-sm-lg-xs-4 col-md-xl-4 h5 ml-auto mr-5"> 
                                                        <span class="mr-4 pr-4"> Ref No. </span> 
                                                        <span class="mr-4 pr-4"> : </span> 
                                                        <span class="mr-4 pr-5">{{student_id_data.RefferenceNO}}</span> 
                                                    </div>
                                                </div>

                                                <div class="row-sm-4 row-md-4 ml-2 mt-2">
                                                    <div class="col-sm-lg-xs-4 col-md-xl-4 h5">
                                                        Trans Date
                                                        <span class="ml-5 pl-5"> : </span> 
                                                        <span class="ml-5 pl-2"> {{student_id_data.CollectFeeDate}} </span> 
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row ml-2" style="text-transform:Capitalize">
                                                    <div class="col-lg-sm-4 col-xl-md-4 h5">
                                                        <span class=""> Received From </span>
                                                    </div>
                                                    <div class="ml-5 pl-4 h5">:</div>
                                                    <div class="ml-2 pl-5 h5">
                                                        {{student_id_data.Admission.StudentName}} <br>
                                                        {{student_id_data.Admission.AddressLine1}} <br>
                                                        {{student_id_data.Admission.AddressLine2}} <br> 
                                                        {{student_id_data.Admission.Village.VillageName}}<br>
                                                        {{student_id_data.Admission.Village.Taluk.TalukName}} {{student_id_data.Admission.Village.Taluk.District.DistrictName}}-{{student_id_data.Admission.Pincode.Pincode}} <br> <br>
                                                    </div>
                                                </div>

                                                <div class="row ml-2 header-1" style="text-transform:Capitalize">
                                                    <div class="col-sm-lg-xl-md-4 h5">
                                                        Fees Collected From 
                                                    <span class="ml-3 pl-4">:</span>
                                                    <span class="ml-4 pl-4"> {{student_id_data.Admission.StudentName}} of {{student_id_data.Admission.Class.ClassList.ClassName}} Standard </span>
                                                    </div>
                                                </div>
                                                

                                                <div class="row ml-2">
                                                    <div class="col-sm-lg-xl-md-4 h5">
                                                        Rupees &ensp; &emsp;
                                                        <span class="ml-5 pl-5"> : </span> 
                                                        <span class="ml-4 pl-4">{{ruppes_in_words}} </span>
                                                    </div>
                                                </div>
                                                
                                                <div class="row ml-2">
                                                    <div class="col-sm-lg-xl-md-xs-4">
                                                        <span class="mr-2">Amount Rs </span>
                                                        <span class="ml-5 pl-5 mr-1">: </span>
                                                        <span class="ml-4 pl-4 ">{{student_id_data.PaidAmount}}</span> 
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row ml-2">
                                                    <div class="col-sm-lg-xl-md-xs-4">
                                                    <span class="mr-4 pr-1"> Paid By </span>
                                                    <span class="ml-5 pl-5 mr-1">:</span>
                                                    <span class="ml-4 pl-4">{{student_id_data.ModeOfPayment.ModeOfPayment}} 
                                                    </span> 
                                                    </div>
                                                    <div class="col-sm-lg-xl-md-xs-4 ml-auto">
                                                            {% if school_sign %}
                                                                <div class="avatar avatar-xl"><img src="{{school_sign.url}}" class="avatar-img" alt="school sign"></div>
                                                            {% endif %}
                                                            <br> <span class="ml-3" > Cashier </span>
                                                    </div>
                                                    <div class="col-sm-lg-xl-md-xs-4 ml-5 pl-5 mr-5">  
                                                        <div class="ml-4">
                                                            {% if school_seal %}
                                                                <div class="avatar avatar-xl"><img src="{{school_seal.url}}" class="avatar-img" alt="school seal"></div>
                                                            {% endif %}
                                                            <br> <span class="ml-1">  Verified By </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row ml-2">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block javascripts %}

{% endblock javascripts %}