{% extends 'dshiksha_erp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Assign Class Level
{% endblock title %}


{% block body %}
    <div class="content">
        <div class="col">
            <form action="/School/AssignClassLevel" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="" class="form-label"> Class Name</label>
                    <select name="ClassList" id="id_ClassList" class="form-control">
                        <option value=""> ----------- </option>
                        {% for cl in classes_list %}
                            <option value="{{ cl.ClassID }}"> {{ cl.ClassName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label"> Class Level</label>
                    <select name="ClassLevel" id="id_ClassLevel" class="form-control">
                        <option value=""> ---------- </option>
                        {% for cl in class_level_list %}
                            <option value="{{ cl.ClassLevelID }}"> {{ cl.ClassLevelName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary"> Create </button>
                </div>
            </form>
            
        </div>
        <div class="col">
            <h3> Assigned Class Level List</h3>
            {% for cl in class_list %}
                <div>
                    {{ cl.ClassList.ClassName }} - {{ cl.ClassLevel.ClassLevelName }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}