{% extends 'dshiksha_erp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Assign Class Level
{% endblock title %}


{% block body %}
    <div class="content">

        <div class="panel-header bg-primary-gradient">
            <div class="page-inner">
                <div class="page-header text-white">
                    <h4 class="page-title text-white">Assign Class Level</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="flaticon-home text-white fw-bold"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow text-white fw-bold"></i>
                        </li>
                        <li class="nav-item">
                            <a href="/School/AssignClassLevel" class="text-white fw-bold"> Assign Class Level</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-inner mt--5">
                {% if messages %}
                    {% for message in messages %} 
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                        <i class="bi-exclamation-octagon-fill"></i>
                        <strong class="mx-2">Error!</strong> {{ message.message }}
                    </div>
                    {% endif %}
                    {% if message.tags == 'info' %}
                    <div class=" alert alert-success alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                        <i class="bi-exclamation-octagon-fill"></i>
                        <strong class="mx-2">Success!</strong> {{ message.message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
        
        <div class="row">
            <div class="col-sm-12  grid-margin stretch-card">
                <div class="card card-rounded">
                    <div class="card-body">
                        <h4 class="card-title mt">Assign Class Level <hr></h4>
                        <form action="/School/AssignClassLevel" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="" class="form-label"> Class Name</label>
                                <select name="ClassList" id="id_ClassList" class="form-control">
                                    <option value=""> ----------- </option>
                                    {% for cl in classes_list %}
                                        <option value="{{ cl.ClassID }}"> {{ cl.ClassName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label"> Class Level</label>
                                <select name="ClassLevel" id="id_ClassLevel" class="form-control">
                                    <option value=""> ---------- </option>
                                   {% for cl in class_level_list %}
                                    <option value="{{ cl.ClassLevelID }}"> {{ cl.ClassLevelName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"> Create </button>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
            <div class="col-sm-12  grid-margin stretch-card">
                <div class="card card-rounded">
                    <div class="card-body">
                        <h4 class="card-title">Assigned Class Level List </h4>
                        <div class="table-responsive  mt-1">
                            <!-- Table details here -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="10%">Sr.No.</th>
                                        <th>Class with Class level </th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if class_list %}
                                        {% for cl in class_list %}
                                            <tr>
                                                <td> {{ forloop.counter }} </td>
                                                <td> {{ cl.ClassList.ClassName }}  - {{ cl.ClassLevel.ClassLevelName }}</td>
                                            </tr>
                                        {% endfor %}
                                    {%endif%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block javascripts %}
    <script>
        
    setTimeout(function () {
        $('#alert').alert('close');
    }, 2500);

    </script>
{% endblock javascripts %}