{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Student Admission
{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block body %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Student Admission</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Admission/NewAdmission" class="text-white fw-bold">Admission</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        {% if messages %}
            {% for message in messages %} 
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong> {{ message.message }}
            </div>
            {% endif %}
            {% if message.tags == 'info' %}
            <div class=" alert alert-success alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Success!</strong> {{ message.message }}
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Student Admission</div>
                    </div>
                    <div class="card-body">   
                        <form action="/Admission/NewAdmission" method="post">
                            {% csrf_token %}
                            
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_Class" class="form-label">Select Student Application Data:</label>
                                                <select name="Application" id="id_Application" class="form-control" onchange="func()">
                                                    {% for a in application_list %}
                                                    <option value="">-------------</option>
                                                    <option value="{{ a.ApplicationID }}"> 
                                                        {{ a.ApplicationNo }}-{{ a.StudentName }} 
                                                    </option>
                                                    {% endfor %}
                                                </select>  
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label"> Admission Number </label>
                                                <input type="hidden" name="admission_id_no" value="{{ admission_id_no }}">
                                                <div class="form-control"> {{ admission_id_no }}</div>                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Admission Date</label>
                                                <input type="hidden" name="admission_date" value="{{ admission_date }}">
                                                <div class="form-control"> {{ admission_date }}</div>                    
                                            </div>
                                        </div>  
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_StudentMobileNo" class="form-label"> Student Name</label>
                                                {{ student_form.StudentName | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Date of Birth</label>
                                                {% render_field student_form.StudentDOB type="date" class="form-control" %}                    
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Gender</label>
                                                <select name="Gender" id="id_Gender" class="form-control">
                                                    {% if gender_list %}
                                                        {% for gender in gender_list %}
                                                        <option value="{{ gender.GenderID }}"> 
                                                            {{ gender.GenderName }} 
                                                        </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>                 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_StudentMobileNo" class="form-label"> Student Mobile Number</label>
                                                {{ student_form.StudentMobileNo | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_Class" class="form-label">Class of Joining</label>
                                                <select name="Class" id="id_Class" class="form-control">
                                                    {% for class in class_list %}
                                                    <option value="{{ class.Class.ClassID }}"> 
                                                        {{ class.Class.ClassList.ClassName }} 
                                                    </option>
                                                    {% endfor %}
                                                </select>  
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Father Name</label>
                                                {{ student_form.FatherName | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Mother Name</label>
                                                {{ student_form.MotherName | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Gaurdian Name</label>
                                                {{ student_form.GaurdianName | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                    </div>                                                                    
                                </div>                                                                       
                                
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"> Save Student </button>
                            </div>
                        </form>
                    </div>      
                </div>
            </div>
        </div>
        {% if student_list %}
        <div class="row">
            <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Student List</div>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive  mt-1">

                            <table id="AdmissionData" class="table  table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>AdmissionNo</th>
                                        <th>AdmissionDate</th>
                                        <th>StudentName</th>
                                        <th>Class</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in student_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <div>
                                                {{ student.AdmissionNo }} 
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{ student.AdmissionDate }}
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{ student.StudentName }} 
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{ student.Class.ClassList.ClassName }}
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <a name="" id="" class="btn btn-info p-2" href="/Student/StudentShow/{{ student.AdmissionID }}" role="button" data-toggle="tooltip" data-placement="top" title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a name="" id="" class="btn btn-warning p-2" href="/Update/UpdateStudentInfo/{{ student.AdmissionID }}" role="button" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a name="" id="" class="btn btn-dark p-2" href="/DeleteStudentInfo/{{ student.AdmissionID }}" role="button" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
    </div>
</div>

{% endblock body %}

{% block javascripts %}
<script>
    function func(){
        //console.log("heloo")
        var res=JSON.parse('{{ data | safe }}')
        var getapplication=document.getElementById('id_Application').value;
        for(var i in res)
        {
            var aid=res[i].pk
            if(getapplication==aid)
            {
                var sname=res[i].fields.StudentName;
                var sdob=res[i].fields.StudentDOB;
                var gender=res[i].fields.Gender;
                var smobile=res[i].fields.StudentMobileNo;
                var cls=res[i].fields.Class
            }
        }
        document.getElementById("id_StudentName").value=sname;
        document.getElementById("id_StudentDOB").value=sdob;
        document.getElementById("id_Gender").value=gender;
        document.getElementById("id_StudentMobileNo").value=smobile;
        document.getElementById("id_Class").value=cls;
    }

    $(document).ready(function() {
        $('#AdmissionData').DataTable({
        });
    });

    setTimeout(function () {
        // Closing the alert
        $('#alert').alert('close');
    }, 2500);

    
</script>
{% endblock javascripts %}