{% extends "school/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-4">
				<div class="page-header text-white">
					<h4 class="page-title text-white">Dashboard</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="/">
								<i class="flaticon-home text-white fw-bold"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow text-white fw-bold"></i>
						</li>
						<li class="nav-item">
							<a href="/" class="text-white fw-bold">Overview</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-inner mt--5">

			{% comment %} <h4 class="page-title">Overview</h4> {% endcomment %}
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-info-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="flaticon-users"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h2 class="text-white">Students</h2>
										<h1 class="card-title text-white">{{s_student_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-success-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="icon-user"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h2 class="text-white">Boys</h2>
										<h1 class="card-title text-white">{{student_boys_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-warning-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="icon-user-female"></i>
										
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h2 class="text-white">Girls</h2>
										<h1 class="card-title text-white">{{student_girls_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-info-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="icon-people"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h3 class="text-white">Total Staff</h3>
										<h1 class="card-title text-white">{{s_staff_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-success-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="icon-user"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h2 class="text-white">Male Staff</h2>
										<h1 class="card-title text-white">{{student_boys_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card card-stats bg-warning-gradient card-round">
						<div class="card-body skew-shadow">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center text-white">
										<i class="icon-user-female"></i>
										
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<h2 class="text-white">Female Staff</h2>
										<h1 class="card-title text-white">{{student_girls_count}}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			
			
			
		</div>
	</div>
{% endblock body %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo.js"></script>
	<script src="/static/assets/js/demo.js"></script>

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

{% endblock javascripts %}
