{% extends 'dshiksha_erp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Create Sub Fee Type {% endblock title %}

{% block body %}
<div class="content">

    <div class="panel-header bg-primary-gradient">
        <div class="page-inner">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Create Sub Fees Type</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Fees/CreateSubFeesType" class="text-white fw-bold">Create Sub Fees Types </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-inner mt--5">
        {% if messages %}
            {% for message in messages %} 
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong> {{ message.message }}
            </div>
            {% endif %}
            {% if message.tags == 'info' %}
            <div class=" alert alert-success alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Success!</strong> {{ message.message }}
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card card-rounded">
                    <div class="card-header">
                        <div class="card-title">Create Sub Fees Type </div>
                    </div>
                    <div class="card-body">
                        <form action="/Fees/CreateSubFeesType" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form-type" value="create-sub-fee-type">
                                <div class="form-group">
                                    <label for="" class="form-label"> Fees Type </label>
                                    <select name="FeesType" id="id_feetype" class="form-control">
                                        <option value=""> ---------- </option>
                                            {% for fs in fs_list %}
                                                <option value="{{ fs.FeesTypeID }}"> {{ fs.FeesTypeName }} </option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="" class="form-label"> Sub Fee Type </label>
                                    {{ sft_form.SubFeeName | attr:"class=form-control" }}
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary"> Create </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">   
                <div class="card card-rounded">
                    <div class="card-header">
                        <div class="card-title">Sub Fees Type List</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- Table details here -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="10%">Sr.No.</th>
                                        <th>Fee Types with Sub Fee Types </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if sft_list %}
                                    {% for sft in sft_list %}
                                    <tr>
                                        <td> {{ forloop.counter }} </td>
                                        <td> {{ sft.FeesType.FeesTypeName }} - {{sft.SubFeeName }} </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}


{% block javascripts %}
<script>
    setTimeout(function () {
        $('#alert').alert('close');
    }, 2500);


</script>

{% endblock javascripts %}