{% extends 'dshiksha_erp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Create Bank Name and Online App Name {% endblock title %}

{% block body %}
<div class="content">

    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Add Bank & Online</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Fees/CreateBank" class="text-white fw-bold">Add Bank & Online </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-inner mt--5">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div
                class="{% if message.tags == 'error' %} alert alert-danger alert-dismissible d-flex align-items-center fade show my-1 {% endif %}">
                <i class="bi-exclamation-octagon-fill"></i>
                <strong class="mx-2">Error!</strong> {{ message.message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert">
            </div>
            {% endfor %}
        </div>
        {%endif%}

        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-header">
                                            <div class="card-title">Add Bank</div>
                                        </div>
                
                                        <div class="card-body">
                                            <!-- form details here -->
                                            <form action="/Fees/CreateBank" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="form-type" value="bank-form">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="" class="form-label"> Bank Name
                                                            </label>
                                                            {{bank_form.BankName | attr:"class=form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="" class="form-label"> Order ID </label>
                                                            {{ bank_form.OrderID | attr:"class=form-control" | attr:"type=number" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">&nbsp;</label>
                                                            <div class="input-group col-xs-12">
                                                                <span class="input-group-append">
                                                                    <button type="submit"
                                                                        class="btn btn-primary text-white"> Create
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-header">
                                            <div class="card-title">Add Online App</div>
                                        </div>
                                        <div class="card-body">
                                            <!-- form details here -->
                                            <form action="/Fees/CreateBank" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="form-type" value="online-form">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label for="" class="form-label"> Online App Name
                                                            </label>
                                                            {{ online_form.OnlineAppName | attr:"class=form-control" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="" class="form-label"> Order ID </label>
                                                            {{ online_form.OrderID | attr:"class=form-control" | attr:"type=number" }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername1">&nbsp;</label>
                                                            <div class="input-group col-xs-12">
                                                                <span class="input-group-append">
                                                                    <button type="submit"
                                                                        class="btn btn-primary text-white"> Create
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %} Show Designations {% endcomment %}
                    <div class="row">
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash">Bank List
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="table-responsive  mt-1">
                                                <!-- Table details here -->
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Sr.No.</th>
                                                            <th>Bank Name </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if bank_list %}
                                                        {% for bl in bank_list %}
                                                        <tr>
                                                            <td> {{ forloop.counter }} </td>
                                                            <td> {{bl.BankName }} </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% comment %} Show Subjects {% endcomment %}
                        <div class="col-lg-6 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                    <div class="card card-rounded">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash">Online App List</h4>
                                                </div>
                                            </div>
                                            <div class="table-responsive  mt-1">
                                                <!-- Table details here -->
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th width="10%">Sr.No.</th>
                                                            <th>Online App Name </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if online_list %}
                                                        {% for ol in online_list %}
                                                        <tr>
                                                            <td> {{ forloop.counter }} </td>
                                                            <td> {{ ol.OnlineAppName }} </td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}