{% extends "dshiksha_erp/base-fullscreen.html" %}

{% load widget_tweaks %}


{% block title %} Admin Login {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body %}


<div class="auth-wrapper">
        
    <div class="auth-content">
        <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
        </div>

        <div class="page-inner">
            <div class="row">
                <div class="col">
                    <div class="card card-rounded">
                        <div class="card-body  text-center">
                            <div>
                                <div class="avatar avatar-xxl">
                                    <img src="/static/assets/img/digital-shiksha_blue_logo.png" alt="school img" class="avatar-img rounded">
                                </div>
                            </div> 


                            <form method="post" action="">

                                {% csrf_token %}
                                <input type="hidden" name="redirect_to_url" value="{{ redirect_url }}"> 

                                <h3>Admin Login</h3>
            
                                <span class="mb-0 text-muted">
                                    {% if messages %}
                                    {% for message in messages %} 
                                    <span class="{% if message.tags == 'error' %} alert alert-danger alert-dismissible d-flex align-items-center fade show {% endif %}">
                                        Error!</strong> {{ message.message }}
                                    </span>
                                    {% endfor %}        
                                        {% else %}
                                            <span>
                                                Add your credentials
                                            </span>
                                        {% endif %}
                                </span>
            
                                <br />
                                <br />
            
                                    <div class="input-group mb-3">
                                        {% render_field login_form.Email type="email" placeholder="Email" class="form-control" %}
                                    </div>
                                    
                                    <div class="input-group mb-4">
                                        {% render_field login_form.Password type="password" placeholder="Password" class="form-control" %}

                                    </div>
                                     
                                    <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>
                    
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
