{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Student Application
{% endblock title %}

{% block stylesheets %}

<style>
    #id_Amount{
        pointer-events:none;
    }
</style>

{% endblock stylesheets %}

{% block body %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-4">
            <div class="page-header text-white">
                <h4 class="page-title text-white">Student Application</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/">
                            <i class="flaticon-home text-white fw-bold"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow text-white fw-bold"></i>
                    </li>
                    <li class="nav-item">
                        <a href="/Application/NewApplication" class="text-white fw-bold">Student Application</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    


    <div class="page-inner mt--5">
        {% if messages %}
            <div>
                {% for message in messages %} 
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Error!</strong> {{ message.message }}
                </div>
                {% endif %}
                {% if message.tags == 'info' %}
                <div class="alert alert-success alert-dismissible d-flex align-items-center fade show my-1" id="alert">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Success!</strong> {{ message.message }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Student Application</div>
                    </div>
                    <div class="card-body">
                        <form action="/Application/NewApplication" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label"> Application Number </label>
                                                    <input type="hidden" name="application_id_no" value="{{ application_id_no }}">
                                                    <div class="form-control"> {{ application_id_no }}</div>                    
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Application Date</label>
                                                    <input type="hidden" name="application_date" value="{{ application_date }}">
                                                    <div class="form-control"> {{ application_date }}</div>                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="id_StudentName" class="form-label">Student Full Name</label>
                                                    {{ application_form.StudentName | attr:"class=form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Date of Birth</label>
                                                    {% render_field application_form.StudentDOB type="date" class="form-control" %}                    
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Gender</label>
                                                    <select name="Gender" id="id_Gender" class="form-control">
                                                        {% if gender_list %}
                                                            {% for gender in gender_list %}
                                                            <option value="{{ gender.GenderID }}"> 
                                                                {{ gender.GenderName }} 
                                                            </option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>                 
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="id_StudentMobileNo" class="form-label"> Student Mobile Number</label>
                                                    {{ application_form.StudentMobileNo | attr:'class=form-control' }}                    
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Parent Name</label>
                                                    {{ application_form.ParentName | attr:'class=form-control' }}                    
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label"> Parent MobileNo</label>
                                                    {{ application_form.ParentMobileNo | attr:'class=form-control' }}                    
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="id_Class" class="form-label">Class of Joining</label>
                                                    <select name="Class" id="id_Class" class="form-control" onchange="func()">
                                                        {% for class in class_list %}
                                                        <option value="{{ class.Class.ClassID }}"> 
                                                            {{ class.Class.ClassList.ClassName }} 
                                                        </option>
                                                        {% endfor %}
                                                    </select>  
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label"> Amount</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">&#8377;</span>
                                                        </div>
                                                        {% render_field application_form.Amount class="form-control" %}                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="mb-3">
                                                    <label for="" class="form-label">Mode of Payment</label>
                                                    <select name="ModeOfPayment" id="id_ModeOfPayment" class="form-control">
                                                        {% for payment in payment_list %}
                                                        <option value="{{ payment.ModeOfPaymentID }}"> 
                                                            {{ payment.ModeOfPayment }} 
                                                        </option>
                                                        {% endfor %}
                                                    </select>  
                                                </div>
                                            </div>
                                        </div>                                                                      
                                    </div>                                                                       
                                </div>  
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary"> Create </button>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        {% if applicant_list %}
        <div class="row">
            <div class="col-md-12  grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="card-title">Application List</div>
                        </div>
                        

                        <table id="ApplicationData" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>ApplicationNo</th>
                                    <th>ApplicationDate</th>
                                    <th>StudentName</th>
                                    {% comment %} <th>StudentMobileNo</th> {% endcomment %}
                                    <th>Amount</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for applicant in applicant_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <div>
                                            {{ applicant.ApplicationNo }} 
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ applicant.ApplicationDate }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ applicant.StudentName }} 
                                        </div>
                                    </td>
                                    {% comment %} <td>
                                        <div>
                                            {{ applicant.StudentMobileNo }}
                                        </div>
                                    </td> {% endcomment %}
                                    <td>
                                        <div>
                                            {{ applicant.Amount }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <a name="" id="" class="btn btn-info py-2" href="/Application/NewApplicationShow/{{ applicant.ApplicationID }}" role="button" data-toggle="tooltip" data-placement="top" title="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
        {% endif %} 
    </div>
</div>

{% endblock body %}

{% block javascripts %}
<script>
    function func(){
        var res=JSON.parse('{{ data | safe }}')
        var getcls=document.getElementById('id_Class').value;

        for(var i in res)
        {
            var cls=res[i].fields.Class
            if(getcls==cls)
            {
                var amt=res[i].fields.Amount
            }
        }
        document.getElementById("id_Amount").value=amt.toFixed(2);
    }

    $(document).ready(function() {
        $('#ApplicationData').DataTable({
        });
    });

    setTimeout(function () {
        // Closing the alert
        $('#alert').alert('close');
    }, 2000);

</script>
{% endblock javascripts %}