{% extends 'school/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Student Application
{% endblock title %}

{% block stylesheets %}

<style>
    #id_Amount{
        pointer-events:none;
    }
</style>

{% endblock stylesheets %}

{% block body %}

<div class="content">
    <div class="page-inner">
        {% if messages %}
            <div>
                {% for message in messages %} 
                {% if message.tags == 'error' %}
                <div class="{% if message.tags == 'error' %} alert alert-danger alert-dismissible d-flex align-items-center fade show my-1 {% endif %}">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Error!</strong> {{ message.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert">
                    </div>
                {% endif %}
                {% if message.tags == 'info' %}
                <div class="{% if message.tags == 'info' %} alert alert-success alert-dismissible d-flex align-items-center fade show my-1 {% endif %}">
                    <i class="bi-exclamation-octagon-fill"></i>
                    <strong class="mx-2">Success!</strong> {{ message.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert">
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form action="/Application/NewApplication" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <h3 class="card-title">Student Application</h3>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label"> Application Number </label>
                                                <input type="hidden" name="application_id_no" value="{{ application_id_no }}">
                                                <div class="form-control"> {{ application_id_no }}</div>                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Application Date</label>
                                                <input type="hidden" name="application_date" value="{{ application_date }}">
                                                <div class="form-control"> {{ application_date }}</div>                    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_StudentName" class="form-label">Student Full Name</label>
                                                {{ application_form.StudentName | attr:"class=form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Date of Birth</label>
                                                {% comment %} {{ application_form.StudentDOB | attr:"class=form-control" }} {% endcomment %}
                                                {% render_field application_form.StudentDOB type="date" class="form-control" %}                    
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Gender</label>
                                                <select name="Gender" id="id_Gender" class="form-control">
                                                    <option value=""> ---------- </option>
                                                    {% if gender_list %}
                                                        {% for gender in gender_list %}
                                                        <option value="{{ gender.GenderID }}"> 
                                                            {{ gender.GenderName }} 
                                                        </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>                 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_StudentMobileNo" class="form-label"> Student Mobile Number</label>
                                                {{ application_form.StudentMobileNo | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Parent Name</label>
                                                {{ application_form.ParentName | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label"> Parent MobileNo</label>
                                                {{ application_form.ParentMobileNo | attr:'class=form-control' }}                    
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="id_Class" class="form-label">Class of Joining</label>
                                                <select name="Class" id="id_Class" class="form-control" onchange="func()">
                                                    <option value=""> ---------- </option>
                                                    {% if class_list %}
                                                    {% for class in class_list %}
                                                    <option value="{{ class.Class.ClassID }}"> 
                                                        {{ class.Class.ClassList.ClassName }} 
                                                    </option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>  
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label"> Amount</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">&#8377;</span>
                                                    </div>
                                                    {% render_field application_form.Amount class="form-control" %}                    
                                                </div>
                                                
                                                {% comment %} {{ application_form.Amount | attr:'class=form-control'| attr:'id=' }}   {% endcomment %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="mb-3">
                                                <label for="" class="form-label">Mode of Payment</label>
                                                <select name="ModeOfPayment" id="id_ModeOfPayment" class="form-control">
                                                    <option value=""> ---------- </option>
                                                    {% if payment_list %}
                                                        {% for payment in payment_list %}
                                                        <option value="{{ payment.ModeOfPaymentID }}"> 
                                                            {{ payment.ModeOfPayment }} 
                                                        </option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>  
                                            </div>
                                        </div>
                                    </div>                                                                      
                                </div>                                                                       
                            </div>  
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary"> Create </button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>
    {% if applicant_list %}
    <div class="row">
        <div class="col-md-12  grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    
                    <div>
                        <h3>Applicant List</h3>

                            <table class="table table-hover">
                                <tbody>
                                    <thead>
                                        <tr>
                                            <th>Sr.No.</th>
                                            <th>ApplicationNo</th>
                                            <th>ApplicationDate</th>
                                            <th>StudentName</th>
                                            {% comment %} <th>StudentMobileNo</th> {% endcomment %}
                                            <th>Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    {% for applicant in applicant_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <div>
                                                 {{ applicant.ApplicationNo }} 
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{ applicant.ApplicationDate }}
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{ applicant.StudentName }} 
                                            </div>
                                        </td>
                                        {% comment %} <td>
                                            <div>
                                                {{ applicant.StudentMobileNo }}
                                            </div>
                                        </td> {% endcomment %}
                                        <td>
                                            <div>
                                                {{ applicant.Amount }}
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <a name="" id="" class="btn btn-dark py-1" href="/Application/NewApplicationShow/{{ applicant.ApplicationID }}" role="button">View</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% endif %} 
</div>
</div>

{% endblock body %}

{% block javascripts %}
<script>
    function func(){
        console.log("heloo")
        var res=JSON.parse('{{ data | safe }}')
        var getcls=document.getElementById('id_Class').value;

        for(var i in res)
        {
            var cls=res[i].fields.Class
            if(getcls==cls)
            {
                var amt=res[i].fields.Amount
            }
        }
        //document.getElementById("id_Amount").innerHTML="&#8377; "+amt.toFixed(2);
        //document.getElementById("id_Amount").innerHTML=amt.toFixed(2);
        document.getElementById("id_Amount").value=amt.toFixed(2);
    }
</script>
{% endblock javascripts %}